<h2>All Heroines#index</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= heroine.super_name %>
    </li>
    <br>
    <%= form_for :heroines do |f| %>
    <%= f.label :name%>
    <%= f.text_field 'name'%>
    <%= f.submit%>
    <%end%>

   <% link_to :show %>
  
  <%end%>
</ul>
