<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>

<%= form_for Heroine.new do |f| %>
  <%= f.label 'Name' %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label 'Super Name' %>
  <%= f.text_field :super_name %>
  <br/>
  <%= f.collection_select(:power_id, Power.all, :id, :name, prompt: true) %>
  <%= f.submit %>
<% end %>




