<h1> Creating new Heroine </h1>


<%= form_with model: @heroine, url: heroines_path do |form| %>
  <p>
    <%= form.label :super_name %><br>
    <%= form.text_field :super_name %>
  </p>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

    <p>
    <%= collection_select(@heroine, :power_id, Power.all, :id, :name) %>
    </p>

    <% if @heroine.errors.any? %>
    <%= @heroine.errors.full_messages %>
    <%end%>

 
  <p>
    <%= form.submit %>
  </p>
<% end %>